JG.Services.WebAPI/Service References/AuthenticationService/JG.Services.WCFAuthentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/JG.Services.WCFAuthentication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JG.Services.WCFAuthentication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AuthenticationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Token" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResult" nillable="true" type="tns:AuthenticationResult" />
</xs:schema>