JG.Services.WebAPI/Service References/AuthenticationService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TokenAuthentication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JG.Services.WCFAuthentication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITokenAuthentication_GetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="ITokenAuthentication_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITokenAuthentication_TokenValidate_InputMessage">
    <wsdl:part name="parameters" element="tns:TokenValidate" />
  </wsdl:message>
  <wsdl:message name="ITokenAuthentication_TokenValidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TokenValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="ITokenAuthentication">
    <wsdl:operation name="GetToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenAuthentication/GetToken" message="tns:ITokenAuthentication_GetToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenAuthentication/GetTokenResponse" message="tns:ITokenAuthentication_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TokenValidate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokenAuthentication/TokenValidate" message="tns:ITokenAuthentication_TokenValidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITokenAuthentication/TokenValidateResponse" message="tns:ITokenAuthentication_TokenValidate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITokenAuthentication" type="tns:ITokenAuthentication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://tempuri.org/ITokenAuthentication/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TokenValidate">
      <soap:operation soapAction="http://tempuri.org/ITokenAuthentication/TokenValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenAuthentication">
    <wsdl:port name="BasicHttpBinding_ITokenAuthentication" binding="tns:BasicHttpBinding_ITokenAuthentication">
      <soap:address location="http://localhost:58891/TokenAuthentication.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>